
* {
  box-sizing:border-box;
}

body {
  margin: 30px;
  font-family: Arial;
  background: #e4e4e4;
}
button {
  background:rgb(243, 192, 9);
  border: none;
  border-radius: 16px;
  padding: 15px 50px;
  font-size: 1rem;
  color:white;
  margin-bottom: 12px;

  cursor: pointer;
}
.logo{
  border-radius: 14px;
  margin-top: 20px;
  text-align: center;
  font-size: larger;
  height: 30px;
  width: 100%;
  background-color: #001665;
  color:rgb(244, 244, 244);
}

.logo p{
  margin: 20px;
}
.botaoVerde{
  background: rgb(0, 255, 0);
  color: #ffffff;
}
.botaoAzul{
  background: rgb(72, 72, 247);
}

.header {
  height: 150px;
  padding: 10px;
  text-align: center;
  background: rgb(255, 255, 255);
}

.header h1 {
  text-align:justify;
  font-size: 30px;
}
.header p{
  text-align: justify;
}
.links {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  width: 100%;
  overflow:hidden;
  background-color: #8299eb;
}

.links a {
  text-align: center;
  float:left;
  display:flex;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.links a:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.conteudo {   
  float: left;
  width: 100%;
}
.foto{
  margin-right: 15px;
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

.sobre {
  width: 100%;
  color:#001665;
  display: inline-block;
  background-color: #ffffff;
  padding: 20px;
}
.sobre p{
  margin-left: 10px;
  color: #000000;
  margin-left: 10px;
  text-align:justify;
}

.servicos{
  color: #000000;
  background-color: rgb(255, 255, 255);
  padding: 20px;
}

.curriculo {
  color: #000000;
  background-color: rgb(255, 255, 255);
  padding: 20px;
}

.contato {
  color: #000000;
  background-color: rgb(255, 255, 255);
  padding: 20px;
}


.conteudo:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  color: #ffffff;
  padding:10px;
  text-align: center;
  background:#001665;
}

@media screen and (max-width: 800px) {
  .conteudo{   
    width: 100%;
    padding: 0;
  }
}
